html {
    margin: 0;
    padding: 0;
    display: block;
    background-color: #000000;
}

body{
    padding-top: 55px;
}

.nav-link{
    font-size: medium;
}
.nav-link:hover{
    color: #ffffff;
}
.nav-link:active{
    color: #808080;
}

.info{
    background-color: #fc2060;
}

.col-img{
    max-width: 650px;
    border-radius: 25px;
}

footer{
    font-size: 100%;
    background-color: #deb887;
    text-align: center;
    padding: 1px 0 1px 0;
    background-color: #000000;
    color: #ffffffc2;
}